html, body {
  height: 100%;
  margin: 0;
}

#app {
  height: var(--tg-viewport-height, 100vh);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.btn-close {
  top: 0.8rem;
}

.btn-back {
  font-size: calc(1.3rem + .6vw);
  line-height: 1.2;
  font-weight: 700;
}